aside {
  position: fixed;
  top: 240px;
  right: 1%;
  width: 14vw;
  height: auto;
  border-radius: 5px;
  z-index: 1000;
}

.aside_wrap{
  background-color: rgba(226, 226, 226, 0.644);
  border: 3px solid rgba(226, 226, 226, 0.089);
  border-radius: 5px;
  display: none;
  position: relative;
}
.game_ext {
  text-align: center;
  position: relative;
  align-items: stretch;
  margin:auto;
}



.game_ex_btn:hover {
  background-color: cornflowerblue;
  color: white;
}

.game_ex_btn:active {
  background-color: rgb(58, 88, 143);
}

.geme_ex_text {
  width: 13vw;
  height: 340px;
  background-color: white;
  margin-top: 5px;
  margin: 5px auto;
}

.geme_ex_text > p {
  padding: 5px;
  height: auto;
}

.inp_box {
  flex-wrap: nowrap;
  height: 2vw;
  width: 13vw;
  margin: 10px;
  padding: 5px;
}
.game_ex_inp {
  border: 1px white solid;
  width: 9vw;
}

.game_ex_btn {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 17px;
}

.character {
  position: fixed;
  top: 60%;
  left: 1%;
  z-index: 1;
}
.character_txt {
  background-color: blanchedalmond;
  border: 1px solid blanchedalmond;
  width: 8vw;
  height: 2vw;
  text-align: center;
}
.character > .imgs {
  width: 150px;
  border-radius: 50%;
  border: solid 1px black;
  transition: all 0.5s linear;
}

.character > span {
  text-align: center;
  font-weight: bold;
  display: block;
}

.rotateY {
  transform: rotateY(360deg);
}
.box_active {
  display: block;
}

@keyframes title {
  0% {
    color: white;
  }

  25% {
    color: gray;
  }

  75% {
    color: bisque;
  }

  100% {
    color: brown;
  }
}

.ext_btn{
  color: white;
  background-color: #Cf2740;
  border: 5px solid #801727;
  cursor: pointer;
  border-radius: 100px;
  position: fixed;
  bottom: 300px;
  right: 4%;
  width: 3vw;
  top: 700px;
  height: 3vw;
  animation: ball 10s infinite;
}
.ext_btn:hover{
  border: 5px solid rgb(26, 26, 100); 
  background-color: rgb(36, 36, 128);
}
@keyframes ball{
  1%{top:680px}5%{top:700px}10%{top:680px}15%{top:700px}
  20%{top:680px}30%{top:700px}40%{top:680px}50%{top:700px}
  60%{top:680px}70%{top:700px}80%{top:680px}90%{top:700px}
  100%{top:680px}
}
.sideActive{
  display: block;
}
.geme_ex_text >p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
