body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.baseball {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.basebll_list {
  font-size: 18px;
}

.baseball-input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  outline: none;
}
